.footer {
  width: 100%;
  background: #33323d;

  &__container {
    @include container;
  }

  &__info {
    padding: 24px 0;
    @extend %flex-sb;
  }

  &__1 {
    @extend %flex-sb;
  }

  &__2 {
    @extend %flex-sb;
    gap: 15.5px;
  }

  &__navbar {
    @extend %flex-sb;
    gap: 42.5px;
    list-style-type: none;
  }

  &__nav-item {
    @include font-public-sans;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  &__nav-item:hover {
    color: darkorange;
  }

  &__messangers:hover path {
    cursor: pointer;
    fill: darkorange;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 100%;

    &__container {
      @include tablet-container;
    }
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    width: 100%;

    &__container {
      @include container;
    }

    &__info {
      padding: 24px 0;
      flex-direction: column;
      text-align: center;
    }

    &__1 {
      flex-direction: column;
    }

    &__navbar {
      flex-direction: column;
      gap: 32px;
      list-style-type: none;
      text-align: center;
      margin: 40px auto;
      margin-right: 35px;
    }
  }
}
